body {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  color: #333;
}

.inventory-overview {
  position: relative;
  padding: 20px;
  margin: 0 auto;
  max-width: 90%;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inventory-table th,
.inventory-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.inventory-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.inventory-row:hover {
  background-color: #dbecfc;
  cursor: pointer;
}

.inventory-table th {
  border: 1px solid #ccc;
}

.inventory-table .magasins-header {
  background-color: #e0e0e0;
  text-transform: uppercase;
}


f.inventory-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.magasin-stock {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

input[type="number"] {
  width: 100px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.btn-save {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-save:hover {
  background-color: #45a049;
}

.btn-cancel:hover {
  background-color: #e53935;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.add-inventory-btn {
  position: absolute;
  right: 20px;
  top: 0;
  background-color: #085ab1;
  color: white;
  border: none;
  width: 200px;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-inventory-btn:hover {
  background-color: #4b9cf3;
}

.export-csv-btn {
  position: absolute;
  left: 20px;
  top: 0;
  background-color: #42a17a;
  color: white;
  border: none;
  width: 200px;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.export-csv-btn:hover {
  background-color: #2fda92;
}

.btn-container{
  vertical-align: bottom;
}

.low-stock {
  color: #df0f23;
}

.high-stock {
  color: #17c23f;
}